<div class="card h-8">
<p class="bg-red-200">
My first impression wasn’t good. In fact, everything felt wrong. The first thing that struck me about William was he was very young, not even 30 years old.
</p>
</div>
