<div class="w-full flex mx-auto px-6 py-8">
    <div class="w-full h-full flex items-center justify-center text-gray-900 text-xl border border-gray-900">
    
Start talking to hundreds of people about the idea, mission, and vision. Validate it. Not with “customers" but with everyone and anyone. Does a 13 year old understand it and think it's a solid idea? No? Keep talking till you get that right.
    </div>
</div>